<tr>
    <td class="text-body">#951</td>
    <td class="text-body">Juan Perez</td>
    <td class="text-secondary">07/10/2025</td>
    <td class="text-body">Accidente</td>
    <td class="text-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit.?
    </td>
    <td class="text-body">Comas</td>
    <td>
        <span class="text-warning bg-warning bg-opacity-10 fs-15 fw-normal d-inline-block default-badge">En
            Progreso</span>
    </td>
    <td>
        <div class="d-flex justify-content-end" style="gap: 12px;">
            <button class="bg-transparent p-0 border-0 hover-text-success" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="Editar">
                <i class="material-symbols-outlined fs-16 fw-normal text-body">edit</i>
            </button>
            <button class="bg-transparent p-0 border-0 hover-text-danger" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-title="Eliminar">
                <i class="material-symbols-outlined fs-16 fw-normal text-body">delete</i>
            </button>
        </div>
    </td>
</tr>