services:
  backend:
    build:
      context: ./services
      dockerfile: Dockerfile
    container_name: django-backend
    # volumes:
    #   - ./services:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - ./services/.env

  notification-service:
    build:
      context: ./notification_service
      dockerfile: Dockerfile
    container_name: notification-service
    ports:
      - "8001:8000"

  frontend:
    build:
      context: ./server-side
      dockerfile: Dockerfile
    container_name: node-frontend
    # volumes:
    #   - ./server-side:/app
    #   - /app/node_modules    
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_dev
    volumes:
      # - pgdata:/var/lib/postgresql/data
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

# volumes:
#   pgdata:
