<!DOCTYPE html>
<html lang="zxx">

<head>
    {{>head }}
</head>

<body class="bg-body-bg">
    {{>preloader }}
    {{>sidebar }}
    <div class="container-fluid">
        <div class="main-content d-flex flex-column">
            {{>header }}

            <div class="main-content-container overflow-hidden">
                <div class="card bg-white border border-white rounded-10 p-20 text-center mb-4">
                    <div style="margin-bottom: 35px;">
                        <img src="/assets/images/error.png" alt="error">
                    </div>
                    <h3 class="fs-26 mb-10">Página no encontrada</h3>
                    <p class="mb-30 fs-16 lh-1-8">Parece que la página que estás buscando no existe.</p>
                    <div>
                        <a href="/dashboard" class="btn btn-primary text-white">Volver al Inicio</a>
                    </div>
                </div>
            </div>

            <div class="flex-grow-1"></div>

            {{>footer }}
        </div>
    </div>
    {{>scripts }}
</body>
</html>