<header class="header-area bg-white mb-4 rounded-10 border border-white" id="header-area" x-data="currentUser">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="left-header-content">
                <ul
                    class="d-flex align-items-center ps-0 mb-0 list-unstyled justify-content-center justify-content-md-start">
                    <li class="d-xl-none">
                        <button class="header-burger-menu bg-transparent p-0 border-0 position-relative top-3"
                            id="header-burger-menu">
                            <span class="border-1 d-block for-dark-burger"
                                style="border-bottom: 1px solid #475569; height: 1px; width: 25px;"></span>
                            <span class="border-1 d-block for-dark-burger"
                                style="border-bottom: 1px solid #475569; height: 1px; width: 25px; margin: 6px 0;"></span>
                            <span class="border-1 d-block for-dark-burger"
                                style="border-bottom: 1px solid #475569; height: 1px; width: 25px;"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="right-header-content mt-3 mt-md-0">
                <ul
                    class="d-flex align-items-center justify-content-center justify-content-md-end ps-0 mb-0 list-unstyled">
                    <li class="header-right-item">
                        <div class="dropdown notifications noti">
                            <button class="btn btn-secondary border-0 p-0 position-relative" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined">notifications</span>
                                <span class="count">3</span>
                            </button>
                            <div class="dropdown-menu dropdown-lg p-0 border-0 p-0 dropdown-menu-end">
                                <div class="d-flex justify-content-between align-items-center title">
                                    <span class="fw-medium fs-16 text-secondary">Notificaciones</span>
                                </div>

                                <div style="max-height: 300px;" data-simplebar>
                                    <div class="notification-menu unseen">
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <i class="material-symbols-outlined t1ext-primary">sms</i>
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <p class="fs-16 fw-medium text-secondary">El estado de tu denuncia
                                                        ha cambiado</p>
                                                    <span class="fs-14 fw-medium">hace 2 horas</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="notification-menu unseen">
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <img src="/assets/images/user1.jpg" class="rounded-circle"
                                                        style="width: 44px; height: 44px;" alt="images">
                                                </div>
                                                <div class="flex-grow-1 ms-10">
                                                    <p class="fs-16 fw-medium text-secondary mb-2">Juan Perez <span
                                                            class="fs-14 fw-normal text-body ms-2">hace 5 minutos</span></p>
                                                    <span class="fs-14-5 fw-medium d-inline-block"
                                                        style="line-height: 1.4;">Hola Juan, estamos revisando tu solicitud.</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <a href="javascript:void(0);"
                                    class="dropdown-item text-center text-primary d-block view-all fw-medium rounded-bottom-3">
                                    <span>Ver todo</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="header-right-item">
                        <div class="dropdown admin-profile">
                            <div class="d-xxl-flex align-items-center bg-transparent border-0 text-start p-0 cursor dropdown-toggle"
                                data-bs-toggle="dropdown">
                                <div class="flex-shrink-0 position-relative">
                                    <img class="rounded-circle admin-img-width-for-mobile user-avatar" 
                                        style="width: 40px; height: 40px;" :src="avatar" alt="admin">
                                </div>
                            </div>

                            <div class="dropdown-menu border-0 bg-white dropdown-menu-end">
                                <div class="d-flex align-items-center info">
                                    <div class="flex-shrink-0">
                                        <img class="rounded-circle admin-img-width-for-mobile user-avatar"
                                            style="width: 40px; height: 40px;" :src="avatar"
                                            alt="admin">
                                    </div>
                                    <div class="flex-grow-1 ms-10">
                                        <h3 class="fw-medium fs-17 mb-0" x-text="full_name"></h3>
                                        <span class="fs-15 fw-medium" x-text="isSuperuser ? 'Autoridad' : 'Usuario'"></span>
                                    </div>
                                </div>
                                <ul class="admin-link mb-0 list-unstyled">
                                    <li>
                                        <a class="dropdown-item admin-item-link d-flex align-items-center text-body"
                                            href="/dashboard/profile">
                                            <i class="material-symbols-outlined">person</i>
                                            <span class="ms-2">Mi Perfil</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item admin-item-link d-flex align-items-center text-body"
                                            href="/dashboard/profile/settings">
                                            <i class="material-symbols-outlined">settings</i>
                                            <span class="ms-2">Configuración</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item admin-item-link d-flex align-items-center text-body"
                                            href="javascript:void(0)" @click="localStorage.clear(); window.location='/accounts/login'">
                                            <i class="material-symbols-outlined">logout</i>
                                            <span class="ms-2">Cerrar sesión</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>