<div class="d-flex justify-content-center justify-content-sm-between align-items-center text-center flex-wrap gap-2 showing-wrap pt-15 p-20"   >
    <span class="fs-15" x-text="`Mostrando 1 - ${data.page_size} de ${data.count} entradas`"></span>

    <nav class="custom-pagination" aria-label="Page navigation example">
        <ul class="pagination mb-0 justify-content-center">
            <li class="page-item">
                <button class="page-link icon"
                        aria-label="Previous"
                        @click="goToPage(data.current_page - 1)"
                        :class="{ 'btn-disabled': data.current_page === 1 }">
                    <i class="material-symbols-outlined">west</i>
                </button>
            </li>

            <template x-for="page in visiblePages" :key="page">
                <li class="page-item">
                    <template x-if="page === '...'">
                        <span class="page-link disabled">...</span>
                    </template>
                    <template x-if="page !== '...'">
                        <button class="page-link"
                                x-text="page"
                                @click="goToPage(page)"
                                :class="{ 'active': page === data.current_page }"></button>
                    </template>
                </li>
            </template>

            <li class="page-item">
                <button class="page-link icon"
                        aria-label="Next"
                        @click="goToPage(data.current_page + 1)"
                        :class="{ 'btn-disabled': data.current_page === data.total_pages }">
                    <i class="material-symbols-outlined">east</i>
                </button>
            </li>
        </ul>
    </nav>
</div>
