<div class="preloader" id="preloader">
    <div class="preloader">
        <div class="waviy position-relative">
            <span class="d-inline-block">R</span>
            <span class="d-inline-block">O</span>
            <span class="d-inline-block">A</span>
            <span class="d-inline-block">D</span>
            <span class="d-inline-block">I</span>
            <span class="d-inline-block">F</span>
            <span class="d-inline-block">Y</span>
        </div>
    </div>
</div>